FinalProject/App_WebReferences/FanRegistrationLoginService/FanRegistrationLoginService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FanLite">
    <xs:sequence>
      <xs:element minOccurs="0" name="FanDateEntered" type="xs:int" />
      <xs:element minOccurs="0" name="FanEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FanName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FanLite" nillable="true" type="tns:FanLite" />
  <xs:complexType name="FanLogin">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fan" nillable="true" type="tns:Fan" />
      <xs:element minOccurs="0" name="FanKey" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FanLoginDateAdded" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FanLoginHashed" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FanLoginKey" type="xs:int" />
      <xs:element minOccurs="0" name="FanLoginPasswordPlain" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FanLoginRandom" type="xs:int" />
      <xs:element minOccurs="0" name="FanLoginUserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FanLogin" nillable="true" type="tns:FanLogin" />
  <xs:complexType name="Fan">
    <xs:sequence>
      <xs:element minOccurs="0" name="FanDateEntered" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FanEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FanKey" type="xs:int" />
      <xs:element minOccurs="0" name="FanLogins" nillable="true" type="tns:ArrayOfFanLogin" />
      <xs:element minOccurs="0" name="FanName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Fan" nillable="true" type="tns:Fan" />
  <xs:complexType name="ArrayOfFanLogin">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FanLogin" nillable="true" type="tns:FanLogin" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFanLogin" nillable="true" type="tns:ArrayOfFanLogin" />
</xs:schema>