FinalProject/App_WebReferences/FanRegistrationLoginService/FanRegistrationLoginService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FanRegistrationLoginService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53719/FanRegistrationLoginService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53719/FanRegistrationLoginService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53719/FanRegistrationLoginService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFanRegistrationLoginService_RegisterFan_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterFan" />
  </wsdl:message>
  <wsdl:message name="IFanRegistrationLoginService_RegisterFan_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterFanResponse" />
  </wsdl:message>
  <wsdl:message name="IFanRegistrationLoginService_FanLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:FanLogin" />
  </wsdl:message>
  <wsdl:message name="IFanRegistrationLoginService_FanLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:FanLoginResponse" />
  </wsdl:message>
  <wsdl:portType name="IFanRegistrationLoginService">
    <wsdl:operation name="RegisterFan">
      <wsdl:input wsaw:Action="http://tempuri.org/IFanRegistrationLoginService/RegisterFan" message="tns:IFanRegistrationLoginService_RegisterFan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFanRegistrationLoginService/RegisterFanResponse" message="tns:IFanRegistrationLoginService_RegisterFan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FanLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IFanRegistrationLoginService/FanLogin" message="tns:IFanRegistrationLoginService_FanLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFanRegistrationLoginService/FanLoginResponse" message="tns:IFanRegistrationLoginService_FanLogin_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFanRegistrationLoginService" type="tns:IFanRegistrationLoginService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterFan">
      <soap:operation soapAction="http://tempuri.org/IFanRegistrationLoginService/RegisterFan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FanLogin">
      <soap:operation soapAction="http://tempuri.org/IFanRegistrationLoginService/FanLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FanRegistrationLoginService">
    <wsdl:port name="BasicHttpBinding_IFanRegistrationLoginService" binding="tns:BasicHttpBinding_IFanRegistrationLoginService">
      <soap:address location="http://localhost:53719/FanRegistrationLoginService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>